#incollage {

  #collage-builder {

    md-fab-trigger[aria-expanded="false"] {
      .md-fab-toolbar-background {
        width: 36px !important;
        height: 36px !important;
        top: 14px !important;
        //background-color: rgba(0, 0, 0, 0) !important;
      }
    }
  }

  #collage_builder_sidenav {
    .connect {
      margin-top: 3px;
      a {
        background: #8AF18A;
        color: #358648;
        padding: 2px 7px;
        text-decoration: none;
        border-radius: 4px;
        &:hover {
          background: #56fb5b;
        }
      }
    }
  }
}
