//= require angular-material

//= require_tree .
//= require_self

body, html {
  margin: 0;
  background: #ececec;
}

#incollage {

  $padding: 20px;
  $green: #4dda53;
  $pink: #AB2688;

  #container {
    a {
      color: $green;
    }

    #header {
      md-toolbar {
        background: $pink;
      }
    }

    #content {
      margin: 20px;
      min-height: 800px;

      #sidebar-content {
        border-right: 1px solid #D6D0D0;
        md-sidenav.md-locked-open {
          min-width: 250px;
          max-width: 250px;
        }
      }

      #main-content {

      }
    }

    #footer {
      text-align: center;
      padding: $padding;
    }

  }
}

