//= require angular-material

//= require_tree .
//= require_self

body, html {
  margin: 0;
  background: #ececec;
}

#incollage {

  $padding: 20px;
  $green: #4dda53;
  $pink: #AB2688;

  #container {
    //
    a {
      color: $green;
    }

    #header {
      md-toolbar {
        background: $pink;
      }
    }

    #content {
      margin: 20px;
      min-height: 500px;

      #sidebar {

        .content {

        }
      }

      #main {
        .content {

        }
      }
    }

    #footer {
      text-align: center;
      padding: $padding;
    }

  }
}

