//= require_tree .
//= require_self

body {
  margin: 0;
}

#incollage {

  $padding: 20px;
  $green: #5e804e;

  #container {
    a {
      color: $green;
    }

    #header {
      background: #000000;
      color: white;
      padding: $padding;
      display: inline-block;
      width: 100%;
      .user-block {
        width: 100px;
      }
    }

    #content {
      $sidebar-width: 300px;
      $min-height: 500px;

      #sidebar {
        width: $sidebar-width;
        min-height: $min-height;
        background: #BDBCBC;
        display: inline-block;
        float: left;
        .content {
          padding: $padding;
        }
      }

      #main {
        width: calc(100% - 300px);
        min-height: $min-height;
        display: inline-block;
        background: #9CC59C;
        .content {
          padding: $padding;
        }
      }

    }

    #footer {
      text-align: center;
    }

  }
}

